online jewellery/onlinejewellery.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="onlinejewellery">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="product">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="category" type="xs:string" />
							<xs:element name="type" type="xs:string" />
							<xs:element name="quantity" type="xs:string" />
							<xs:element name="price" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="sno" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
